.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

node_modules/
dist/
build/
out/
.next/

**/sa-key*.json
**/*service-account*.json
**/*credentials*.json
**/local-dev-key.json

.firebase/
firestore-debug.log
ui-debug.log

*.tar